.login
{
    width:100vw;
    height:100vh;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*#myVideo{
    position:fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}
*/

.loginWrapper
{
    width: 70%;
    height: 70%;
    display: flex;
}


.loginLeft,.loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: rgba(24, 243, 243, 0.986);
    margin-bottom: 10px;
}
.loginDesc{
    font-size:24px;
    color: white;
}

.loginBox{
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
} 


.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus{
    outline:none;
}

.loginButton{
    height:50px;
    border-radius: 10px;
    border: none;
    background-color: cyan;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.loginForgot{
    text-align: center;
    color: black;
    font-weight: 500;
}

.loginRegisterButton{
    width: 50%;
    align-self: center;
    height:50px;
    border-radius: 10px;
    border: none;
    background-color:green;
    color: black;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
